[submodule "bundle/syntax"]
	path = bundle/syntax
	url = https://github.com/octol/vim-cpp-enhanced-highlight.git
[submodule "bundle/dracula-them"]
	path = bundle/dracula-them
	url = https://github.com/dracula/vim.git
